body{
    background-color:#EBEBD3;
    margin: 50px;
}
@font-face{
    font-family:SpicyRice;
    src: url(/src/assets/fonts/SpicyRice-Regular.ttf);
}
@font-face{
    font-family:IndieFlower;
    src: url(/src/assets/fonts/IndieFlower-Regular.ttf)
}
.redesSociales{
    width: 10%;
    background-color: black;
}
.encabezado{
    width: 80%;
    height: 100px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.Titulo{
    font-size: 1.8em;
    font-family:SpicyRice;
}
.contenedor{
    display: flex;
    width: 100%;
    height: 700px;
    margin: 50 px auto;
    border-radius: .8em;
    flex-direction: column;
}
.contenedor2{
    display: flex;
    width: 100%;
    height: 1600px;
    margin: 50 px auto;
    border-radius: .8em;
    flex-direction: column;

}
.opciones{
    display: flex;
    width: 100%;
    height: 100px;
    background-color:#456990;
    justify-content: space-around;
    align-items: center;
    border-radius: .8em;
}
.boton{
    width: 250px;
    height: 50px;
    cursor: pointer;
    background-color:#DEF4C6;
    border-radius: .5em;
    transition: background-color .5s;
    margin: 50 px auto;
    justify-content: center;
}
.boton:hover{
    background-color:#E54B4B;
}
.boton p{
    text-align: center;
    font-size: 1.5em
}
.seccion1{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: white;
    justify-content: space-around;
}
.seccion2{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: white;
}
.imagen{
    width: 30%;
    height: 400px;
    margin: 50px;
}
.informacion{
    width: 60%;
    height: 400px;
    margin: 50px;
    font-family:IndieFlower;
}

.informacion p{
    font-family:IndieFlower;
    font-size: 2em;
}
.basica{
    display: flex;
    flex-direction: row;
}
.PiedePagina{
    display: flex;
    width: 100%;
    background-color: #E0FBFC;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}